@model GuideBook

@if(Model is not null)
{
	<div class="form-group">
		<label asp-for="PhoneData" class="control-label"></label>
		<input asp-for="PhoneData" class="form-control" name="CurrentBook.PhoneData"/>
	</div>
}