@model HistoricalBook

@if(Model is not null)
{
	<div class="form-group">
		<label asp-for="Genre">Book genre:</label>
		<input asp-for="Genre" name="CurrentBook.Genre" placeholder="Enter book genre..."/>
		<span asp-validation-for="Genre"></span>
	</div>
}
