@page
@model ErrorModel
@{
    ViewData["Title"] = "BookPage not found";
    Layout = "_Layout";
}

<div class="error-scroll-container">
    <div class="error-scroll">
        <h1 class="error-title">It seems you've lost in time!</h1>
        <p class="error-message">This book no longer exists...</p>
        <a href="/Main" class="return-btn">Return to Main page</a>
    </div>
</div>
